includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./phpstan-baseline.neon

parameters:

    paths:
        - src

    # The level 9 is the highest level
    # todo - move to level 8
    level: 5

    checkMissingIterableValueType: false
